@font-face {
    font-family: "walkWay";
    src: url("fonts/walkWay.ttf");
    }
#fancyBox{
    top:0;
    background-color:rgb(20, 27, 34);
}

body{
    margin:0;
    background-color:rgb(36, 44, 54)
}
body>div{
    width:100%;
    margin:0 auto;
    background-color:rgb(36, 44, 54);
}
h1{
    width:60%;
    text-align: center;
    margin:0 auto;
    margin-bottom: 20px;
    padding-bottom:10px;
    font-family: "walkWay";
    color:white;
}

.title{
    left:400px;
    top:300px; 
    font-size:3.5em;
    position: absolute;
    width:510px;    
    transition: left ease-in-out .3s;

   }
/*---Navigation bar---*/
nav{
    display:flex;
    justify-content: flex-end;
    z-index: 1;
    position:sticky;
    top:0px;
    background-color:rgb(61, 54, 75);

}
    a{
        color: rgb(255, 255, 255);
        text-decoration: none;
        transition: background-color ease-in-out .3s;
        width:7%;
        text-align: center;
        font-family: "walkWay";
        transition: width ease-in-out .3s;
    }
        nav>a:hover{
            background-color:rgba(27, 44, 58, 0.514);
        }

/*---About---*/

#about{

padding-top:10px;
}
#about>h1{font-size:2.5em;}
#about>p{
    font-family:sans-serif;
    color:white;
    width:55%;
    margin:0 auto;
    padding:10px;
    font-size:1.6em;
    font-family: "walkWay";
    text-align: center;
    margin-bottom:10px;
}
#skills{
margin-bottom:100px;

width:600px;
}
ul{
    width:40%;
    margin:0 auto;
    list-style-type: none;
    padding:0;
}
li{
    text-align: center;
    color:white;
    font-family: "walkWay";
    font-size:2em;
}
li:nth-of-type(6){
  color:rgb(2, 162, 255);
    
}
/*---Projects---*/
#projects>div{
    display:flex;
    justify-content: center;
}
.project{
    margin:5px;
    display:flex;
    flex-direction: column;
}
.project:hover > img{
    opacity: .3;
    transform:scale(1.2);
    margin-left:33px;
    margin-right:33px;
}
.project:hover > .projectDiscription{
opacity: 1;
}
.project >img{
    width:400px;
    transition: opacity ease-in-out .4s,
                transform ease-in-out .4s,
                margin ease-in-out .4s,
                width ease-in-out .4s;
}
.projectDiscription{
    width:400px;
    font-size:1.5em;
    color:white;
    opacity: 0;
    position: absolute;
    transition:opacity ease-in-out .4s
                width ease-in-out .4s;
}
/*---Contact---*/
#contact{
    margin-top:20px;
width:60%;
}
#contact>h1{
    margin-bottom:5px;
}
#contact>h2{
color:white;
font-family: "walkWay";
text-align: center;
width:400px;
margin:0 auto;
margin-bottom:20px;
padding-bottom:5px;
}
form{
display:flex;
flex-direction: column;
align-items: center;
}
textarea{
    resize:none;
    background-color:rgb(61, 54, 75);
    color:white;
}
[type=email]{
    width:400px;
    margin-bottom:20px;
}
[type=submit]{
    background-color:rgb(255, 255, 255);
    color:black;
    border:none;
    width:60px;
    height:30px;
    margin-top:5px;
}
footer{
    margin-top:50px;
}
footer>h4{
    color:white;
    width:100px;
    text-align: center;
    margin:0 auto;
}
/*----InstagramGallery-----*/
#instagramHeader{
    width:400px;
    margin:0 auto;
    margin-top:30px;
    text-align: center;
    border-bottom: 1px solid rgb(201, 148, 174);
    margin-bottom:20px;
}

#instagramGallery{
    display:grid;
    grid-template-rows: 26% 33% 30% ;
    grid-template-columns: 33% 33% 33%;
    row-gap: 20px;
    column-gap: 4px;
    width:950px;
    margin:0 auto;
}
.igPhoto>img{
    width:100%;
    transition: opacity .3s ease-in-out;
}
.igPhoto>img:hover{
opacity: .8;
}

/*---Start of media Queries---*/

@media(max-width:1330px){
/*---Navigation bar---*/
a{
    width:9%;
} 
/*---Title---*/
.title{
    left:200px;
} 
#about>p{
    width:60%;
}

/*---Projects*/
.project >img{
    width:340px;
}
.projectDiscription{
    width:340px;
}
}
@media(max-width:1187px){#about>p{width:65%;}}

@media(max-width:1133px){

/*---About---*/
#about>p{
    width:80%;
}
/*---Projects*/
.project >img{
    width:300px;
}
.projectDiscription{
   width:300px;
    font-size:1.2em;
    left:10px;
    }
}

@media(max-width:1005px){
    a{
        width:12%;
    } 

    /*---Projects---*/


#projects>div{
    display:grid;
    grid-auto-rows: 50%,50%;
    grid-template-columns: 50%, 50%;
    grid-template-areas: "one two"
                        "three three";
}
.project:nth-of-type(3){
    width:400px;
    margin-left:200px;
    margin-top:20px;
}
.project:hover > img{
    margin-bottom:15px;
}
.project >img{
    width:400px;
}
.projectDiscription{
    width:400px;
    font-size:1.5em;
}



#instagramGallery{
    display:grid;
    grid-template-rows: 26% 33% 30% ;
    grid-template-columns: 33% 33% 33%;
    row-gap: 20px;
    column-gap: 4px;
    width:90%;
    margin:0 auto;
}
.igPhoto>img{
    width:100%;
    transition: opacity .3s ease-in-out;
}
.igPhoto>img:hover{
opacity: .8;
}
}

@media(max-width:913px){
.title{
    left:20px;
}

.project:nth-of-type(3){
    width:300px;
    margin-left:25%;
    margin-top:20px;
}
.project:hover > img{
    margin-bottom:15px;
}
.project >img{
    width:300px;
}
.projectDiscription{
    width:300px;
    font-size:1.2em;
}

}

@media(max-width:707px){
    nav{
        visibility: hidden;
    }
}