@font-face {
    font-family: "walkWay";
    src: url("fonts/walkWay.ttf");
    }
h1{
    width:60%;
    text-align: center;
    margin:0 auto;
    margin-bottom: 20px;
    padding-bottom:10px;
    font-family: "walkWay";
    color:white;
    font-size:2.5em;
}
body{
    margin:0;
    background-color:rgb(36, 44, 54)
}
#fancyBox{
    position: relative;
    top:0;
    background-color:rgb(20, 27, 34);
}
#secondFancyBox{
    position: absolute;
    top:1000px;
}
.title{
    font-size:3.5em;
    position: relative;
    top:-600px;   
}
/*---Navigation bar---*/
nav.mobile{
    visibility: hidden;
    position: absolute;
}
nav.desktop{
    display:flex;
    justify-content: flex-end;
    position:sticky;
    top:0px;
    background-color:rgb(61, 54, 75);
    z-index:2;
}
    button{
        color: white;
        text-decoration: none;
        transition: background-color ease-in-out .3s,
                    width ease-in-out .3s;
        width:8%;
        font-family: "walkWay";
        background-color:rgb(61, 54, 75);
        font-size:25px;
        border:none;
        padding:13px;
    }
        nav.desktop>button:hover{
            background-color:rgba(27, 44, 58, 0.514);
        }
/*---About---*/
#about{
color:white;
font-family: 'walkWay';
padding-top:10px;
display:flex;
flex-direction: column;
align-items: center;
height:1000px;
background-color:rgb(36, 44, 54);
}
#about>p{
    width:55%;
    font-size:1.6em;
    text-align: center;
}
#about>div{
    border-top:10px solid rgb(128, 95, 155);
    margin-top:50px;
    padding-top:50px;
    display:flex;
    flex-direction: row-reverse;
}
#skills{
width:600px;
}
ul{
    width:40%;
    margin:0 auto;
    list-style-type: none;
    padding:0;
}
li{
    text-align: center;
    font-size:2em;
}
li:nth-of-type(7){
  color:rgb(2, 162, 255);
}
#profile>img{
    height:300px;
    border-radius: 50%;
    border:2px solid rgb(255, 255, 255);
}
.icon{
    display:flex;
    font-size:20px;
    align-items: center;
}
.icon>img{
    height:120px;
}
/*---Projects---*/
#projects{
    height:1000px;
    background-color:rgb(41, 51, 63);
    padding-top:10px;
    display:flex;
    flex-direction: column;
    align-items:center;
    color:white;
    font-family: "walkWay";
}
#projects>div{
    display:flex;
    justify-content: center;
}
#projects>div:nth-of-type(1){
    padding-bottom:25px;
}
.project{
    margin:5px;
    display:flex;
    flex-direction: column;
}
.project:hover > img{
    opacity: .3;
    transform:scale(1.2);
    margin-left:50px;
    margin-right:50px;
}
.project:hover > .projectDiscription{
opacity: 1;
}
.project >img{
    width:550px;
    transition: opacity ease-in-out .4s,
                transform ease-in-out .4s,
                margin ease-in-out .4s,
                width ease-in-out .4s;
}
.projectDiscription{
    width:400px;
    font-size:1.5em;
    opacity: 0;
    position: absolute;
    transition:opacity ease-in-out .4s
                width ease-in-out .4s;
}
.projectDiscription>a{
    color:white;
    text-decoration: none;
}
#projP{
    font-size:25px;
    height: 300px;
    width:700px;
    display:flex;
    flex-direction: column;
}
/*---Contact---*/
#contact{
height:800px;
width:60%;
margin:0 auto;
color:white;
font-family: "walkWay";
}
#contact>h1{
    margin-top:15px;
    margin-bottom:5px;
}
#contact>h2{

text-align: center;
width:400px;
margin:0 auto;
margin-bottom:20px;
padding-bottom:5px;
}
form{
position: relative;
z-index: 1;
display:flex;
flex-direction: column;
align-items: center;
}
textarea{
    resize:none;
    background-color:rgb(29, 36, 46);
    color:white;
    width:700px;
    border:none;
}
[type=email]{
    width:700px;
    margin-bottom:20px;
    background-color:rgb(29, 36, 46);
    border:none;
    height:30px;
    color:white;
}
[type=submit]{
    background-color:rgb(29, 36, 46);
    color:white;
    border:none;
    width:700px;
    height:30px;
    margin-top:5px;
}
#contact>p{
font-size: 25px;
text-align:center;
}
 /*------------Footer--------------*/
 footer{
    position: relative;
    display:flex;
    align-items: center;
    flex-direction: column;
    width:100%;
    height:70px;
    padding-top:3px;
    padding-bottom:3px;
    background-color:rgb(77, 61, 83);
    z-index:1;
}
footer >div{
margin-top:3px;
}
footer>div>a>i{
    width:40px;
    margin-left:20px;
    font-size:50px;
    color:white;
}



/*---Start of media Queries---*/

@media(max-width:1500px){

}
@media(max-width:1300px){

}

@media(max-width:1100px){

}

@media(max-width:900px){

}

@media(max-width:700px){

}

@media(max-width:500px){

}